logging:
  level: warn
  format: json
  set_report_caller: true
enable_gin_logger: false
tracing:
  enable: true
  service_name: rec-vendor-api-prd
  collector_fqdn: otel-collector.opentelemetry-operator.svc.cluster.local:4317
  sample_rate: 0.01
  batch_size: 10000
  max_queue_size: 20000
  batch_timeout: 120s
  excluded_paths:
    - /metrics
    - /healthz
vendor_config:
  {{- with secret "secret/project/recommendation/rec-serving/production/rec-proxy" }}
  proxy_url: http://{{ .Data.data.user }}:{{ .Data.data.password }}@rec-proxy-smp-prd.arepa.appier.co:3128
  {{- end }}
  timeout: 1s
  vendors:
    - name: linkmine
      request_url: "https://api.linkmine.co.kr/coupang/reco/v2/?app_code={subid}&device_id={user_id_lower}&device_lmt=0&imp_imageSize={width}x{height}&site_domain={web_host}&app_bundleId={bundle_id}&imp_adType={adtype}"
      tracking_url: "{product_url}&param1={click_id_base64}"
      with_proxy: true
    - name: replace
      request_url: "https://api-gateway.coupang.com/v2/providers/affiliate_open_api/apis/openapi/v1/products/reco?deviceId={user_id_lower}&imageSize={width}x{height}&subId=KRpartner01"
      tracking_url: "https://click.adshot.network/trk?click_id={click_id_base64}&adid={user_id_lower}&land_url={encoded_product_url}"
      {{- with secret "secret/project/recommendation/rec-serving/replace" }}
      access_key: {{ .Data.data.access_key }}
      secret_key: {{ .Data.data.secret_key }}
      {{- end }}
      with_proxy: true
    - name: inl_corp_0
      request_url: "https://adapi.inlcorp.com/cou/api_reco.php?code={subid}&adid={user_id_lower}&click_id={click_id_base64}"
      tracking_url: "{product_url}"
      with_proxy: true
    - name: inl_corp_1
      request_url: "https://rco.mjbiz.co.kr/reco-js?trackingCode=AF3617420&subId={subid}&deviceId={user_id_lower}&click_id={click_id_base64}"
      tracking_url: "{product_url}"
      with_proxy: true
    - name: inl_corp_2
      request_url: "https://api.adiostech.com/cou/api_reco.php?code={subid}&adid={user_id_lower}&click_id={click_id_base64}"
      tracking_url: "{product_url}"
      with_proxy: true
    - name: inl_corp_3
      request_url: "https://api.ootoo.co.kr/cou/api_reco.php?code={subid}&type=json&click_log=1&click_id={click_id_base64}&adid={user_id_lower}"
      tracking_url: "{product_url}"
      with_proxy: true
    - name: inl_corp_4
      request_url: "https://cdw.adsrv.co.kr/reco?subId={subid}&deviceId={user_id_lower}&click_id={click_id_base64}"
      tracking_url: "{product_url}"
      with_proxy: true
    - name: inl_corp_5
      request_url: "https://api.adzet.co.kr/cou/api_reco.php?code={subid}&adid={user_id_lower}&click_id={click_id_base64}&imageSize={width}x{height}"
      tracking_url: "{product_url}"
      with_proxy: true
    - name: adpopcorn
      request_url: "https://ssp-ext-proxy.adpopcorn.com/coupang/reco?identifier={user_id_lower}&subId=CPSapapp1&imageSize={width}x{height}"
      tracking_url: "{product_url}&subparam={click_id_base64}"
      with_proxy: true
      user_agent: tzyu.net
    - name: adpacker
      request_url: "https://ad.n-bridge.io/reco/103947SA?ssp_click_id={click_id_base64}&nbr_sub_media={partner_id}&nbr_gaid={user_id_lower}&nbr_width={width}&nbr_height={height}&nbr_ad_type=3&nbr_lmt=0"
      tracking_url: "{product_url}"
      with_proxy: true
    - name: keeta
      # query parameters handled in code to support keeta's auth mechanism
      request_url: "https://adgrowth.mykeeta.com/api/rl-recommend"
      tracking_url: "{product_url}"
      {{- with secret "secret/project/recommendation/rec-serving/keeta" }}
      scene_type: {{ .Data.data.scene_type }}
      ver: {{ .Data.data.ver }}
      channel_token: {{ .Data.data.channel_token }}
      s_ca_app: {{ .Data.data.s_ca_app }}
      s_ca_secret: {{ .Data.data.s_ca_secret }}
      {{- end }}
