logging:
  level: warn
  format: json
  set_report_caller: true
tracing:
  enable: true
  service_name: rec-vendor-api-prd
  collector_fqdn: otel-collector.opentelemetry-operator.svc.cluster.local:4317
  sample_rate: 0.01
  batch_size: 10000
  max_queue_size: 20000
  batch_timeout: 120s
  excluded_paths:
    - /metrics
    - /healthz
